name: Go - Test

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.20', '1.21', '1.22']
    steps:
      - uses: actions/checkout@v5
      - name: Test in Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: go test ./...
